*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: .625rem;
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
} */

.main-wrapper {
  border: 1px solid red;
  /* grid-template-columns: "1fr"; */
  /* grid-template-rows: "repeat(4, 1fr)"; */
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    border: 2px solid dodgerblue;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
  
  .intro {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
  
  .theme {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  .settings {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  
  .projects {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }
  
  .tech {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  
  .block-6 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  
  .contact {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
}
